<?xml version="1.0"?>
<launch>

	<arg name="x_pos" default="0.0"/>
	<arg name="y_pos" default="0.0"/>
	<arg name="z_pos" default="1.0"/>
	<arg name="yaw" value="0.0"/>

	<include file="$(find deltaxl_gazebo)/launch/deltaXL_arena_01.launch" />

	<include file="$(find deltaxl_gazebo)/launch/spawn_deltaXL.launch">
		<arg name="x_pos" value="-8.5"/>
		<arg name="y_pos" value="-10.0"/>
		<arg name="z_pos" value="0.3"/>
		<!--<arg name="yaw" value="0"/>-->
		<arg name="yaw" value="1.5706"/>
	</include>

</launch>
